.paper {
  max-height: calc(100vh - 380px);
}

.head th {
  background-color: var(--header-background-color) !important;
  color: var(--color-white);
  height: 60px;
}

.row td {
  text-align: center;
}

.row p {
  font-size: 14px;
  color: var(--text-color);
}

.row:nth-child(even) {
  background-color: var(--background-color);
}

.row:nth-child(odd) {
  background-color: var(--background-color-light);
}

.row:hover {
  background-color: var(--background-color-dark);
}
