.paper {
  width: 100%;
  margin: 10px;
  max-height: calc(100vh - 500px);
}

.head {
  height: 60px;
}

.row p {
  font-size: 14px;
}

.row:nth-child(even) {
  background-color: var(--background-color);
}

.row:hover {
  background-color: var(--background-color-dark);
}
