.image {
  display: grid;
  place-items: center;

  height: 50%;
  min-height: 750px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  display: flex;
  align-items: center;
}

.text h1 {
  color: white;
  font-size: var(--spacing-9);
}

.text h2 {
  color: white;
  font-size: var(--spacing-6);
}

.text h3 {
  color: var(--text-color-secondary);
  font-size: var(--spacing-7);
}
