.SelectItems {
	margin: 20px auto;
	width: 80%;
	text-align: center;
	box-shadow: 0 2px 3px #ccc;
	border: 1px solid #eee;
	padding: 5px;
	box-sizing: border-box;
}

@media (min-width: 600px) {
	.SelectItems {
		width: 800px;
	}
}

.SelectItem {
    margin: 5px auto;
    display: flex;
    /* text-align: center; */
    padding: 5px 30px;

    width: 50%;
}

.InputElement {
    outline: none;
    width: 50%;
	border: 10x solid #ccc;
	background-color: white;
	font: inherit;
	padding: 6px 10px;
	box-sizing: border-box;
}

.Label {
	font-weight: bold;
	display: block;
    margin-bottom: 10px;
    width: 50%;
}