.header {
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-5);
  margin: var(--spacing-4);
}

@media (max-width: 750px) {
  .header {
    flex-direction: column;
  }
}

.map {
  align-items: center;
  width: 100%;
  flex: 2;
}
