.row {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-4);
  border-bottom: var(--border);
}

.row:last-child {
  border-bottom: none;
}

.label {
  color: var(--text-color-secondary);
}
