.map {
  background-color: var(--background-color-light);
  padding: var(--spacing-2);
  width: 65%;
}

.details {
  width: 35%;
}

.bordersContainer {
  padding: var(--spacing-3);
}

.bordersContainer img {
  width: 100%;
}

.neighboringCountries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacing-3);
}

.neighboringCountry {
  width: 90px;
  opacity: 0.5;
  filter: grayscale(100%);
}

.neighboringCountry:hover,
.visited {
  opacity: 1;
  filter: none;
  transition: 0.5s opacity, filter;
}
