.container {
  position: relative;
  margin: auto;
  max-width: 1600px;
  overflow: hidden;
}

.content {
  min-height: 95vh;
}

.main {
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.footer {
  width: 25%;
  text-align: center;
  margin: auto;
  position: relative;
  padding-bottom: 1vh;
  transform: scale(1);
  transition: transform 1s ease-out;
}

.footer:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}
