.Countries {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 80%;
	margin: auto;
}

.Content {
	margin-top: 100px;
}

.Content h1 {
	text-align: center;
}

.Input {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
}

.Label {
	font-weight: bold;
	/* display: block; */
	margin-bottom: 8px;
}
