.container {
  position: relative;
  margin: auto;
}

.main {
  min-height: 90vh;
  padding-top: 4rem;
  padding-bottom: 1rem;
}

.footer {
  width: 25%;
  text-align: center;
  margin: auto;
  position: relative;
  padding-bottom: 1vh;
  transform: scale(1);
  transition: transform 1s ease-out;
}

.footer:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}
