.detailsPanelRow {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.detailsPanelRow:last-child {
  border-bottom: none;
}

.detailsPanelLabel {
  color: var(--text-color-secondary);
}
