.extraInfoList {
  width: 100%;
  min-width: 250px;
  text-align: left;
  list-style: none;
}

.extraInfoIcon {
  font-size: var(--spacing-7);
  color: inherit;
  min-width: 0;
  margin-left: var(--spacing-4);
  margin-right: var(--spacing-4);
}
