.container {
  width: 100%;
}

.header {
  display: flex;
  padding: 20px;
  background-color: var(--header-background-color);

  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

.header button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.headerCell {
  color: var(--header-text-color);
  font-weight: 500;

  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.rows {
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  padding: 1%;
  background-color: var(--background-color-light);
  text-align: center;
}

.row {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  gap: 10px;

  padding: 10px;
  background-color: transparent;
  font-weight: 500;
}
