.container {
  display: flex;
  flex-direction: column;
  place-items: center;
  margin-bottom: 30px;
}

.overview {
  display: flex;
  place-items: center;
  margin-bottom: 30px;
  width: 100%;
  justify-content: space-evenly;
}

.partition {
  width: 35%;
}

.extraInfoList {
  margin-inline-start: 8em;
  text-align: left;
}
