.header {
  display: flex;
  padding: 20px;
  background-color: var(--navbar-color);

  border-radius: 8px;
  box-shadow: var(--box-shadow);
  position: sticky;
  top: var(--sticky-header-top);
}

.header button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.headerCell {
  color: var(--text-color-secondary);
  font-weight: 500;
  text-transform: capitalize;

  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.rows {
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  margin-bottom: 25px;
  padding: 1%;
  background-color: var(--background-color-light);
}

.row {
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  gap: 10px;

  padding: 10px;
  background-color: transparent;
  font-weight: 500;
}

.shortRow {
  grid-template-columns: repeat(2, minmax(150px, 1fr));
}
