.container {
  align-items: center;
  padding: var(--spacing-4);
  gap: var(--spacing-4);
}

.container img {
  width: 100%;
}

.neighboringCountries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacing-4);
}

.neighboringCountry {
  width: 90px;
  opacity: 0.5;
  filter: grayscale(100%);
}

.neighboringCountry:hover,
.visited {
  opacity: 1;
  filter: none;
  transition: 0.5s opacity, filter;
}
