.container {
  align-items: center;
  padding: var(--spacing-4);
  gap: var(--spacing-4);
}

.container img {
  width: 100%;
}

.neighboringCountries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacing-4);
}

.neighboringCountry {
  width: 90px;
  opacity: 0.5;
  filter: grayscale(100%);
}

.visited {
  opacity: 1;
  filter: grayscale(0%);
}

.neighboringCountry:is(:hover, :focus) {
  opacity: 1;
  filter: grayscale(0%) drop-shadow(0 8px 8px rgba(0, 0, 0, 0.5));
  transition: 0.5s opacity, filter;
}
