.sidebar {
  background-color: var(--background-color-dark);
  width: 350px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 1s ease-in-out;
  padding: 0 40px;
  gap: 40px;
}

.active {
  left: 0;
}

.formHelperText,
.text,
.select {
  font-family: var(--font-family);
  color: var(--text-color) !important;
}

.toggleButton {
  position: absolute;
  align-items: center;
  left: 0;
  bottom: 1vh;
  display: flex;
  gap: 10px;
}

.toggleButton:hover > svg {
  transform: rotate(360deg) scale(1.2);
  transition: transform 0.5s;
}
