.sidebar {
  background-color: var(--background-color-dark);
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 500ms ease-in-out;
  padding: 0 30px;
  gap: 30px;
}

.active {
  left: 0;
}

.formHelperText,
.text,
.select {
  font-family: var(--font-family);
  color: var(--text-color) !important;
}
