.root {
  font-size: 75px;
  background: linear-gradient(135deg, rgba(103, 99, 119, 1) 0%, rgba(67, 64, 74, 1) 100%);
  color: white;
  border-radius: var(--border-radius);
  padding: var(--spacing-5);
}

.label {
  text-transform: uppercase;
  font-size: 14px;
  color: var(--header-text-color);
  text-align: center;
}

.metric {
  font-size: 30px;
  font-weight: 700;
}
