.root {
  background-color: var(--background-color-light);
  padding: var(--spacing-3);
  border-radius: var(--border-radius);
  border: var(--border);
  display: flex;
  gap: var(--spacing-3);

  & img {
    max-width: 250px;
    border-radius: var(--border-radius);
  }
}

.label {
  font-size: 1.25rem;
  line-height: 1.6;
  font-weight: 500;
}
