.visited_spots_container {
  background-color: var(--background-color-light);
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  margin-bottom: 25px;
  padding: 1%;
}

.visited_spots {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}
