.root {
  position: sticky;
  top: 49px;
  z-index: 2;
  width: 350px;
  margin-left: auto;
  margin-top: var(--spacing-4);
  background-color: white;
  border: var(--border);
  border-radius: var(--border-radius);
}
