.root {
  width: 250px;
  padding: 0 10px;
  margin: 0 25px 10px !important;
  font-family: var(--font-family);
  color: var(--text-color) !important;
}

.formHelperText {
  text-align: 'right';
  font-family: var(--font-family);
  color: var(--text-color) !important;
}

.text {
  font-family: var(--font-family);
  color: var(--text-color) !important;
}

.select {
  height: 40px;
  font-family: var(--font-family);
  color: var(--text-color) !important;
}