.container {
  padding: 20px;
  background-color: var(--background-color-dark);
  border-radius: 10px;
}

.root {
  width: 250px;
  padding: 0 20px;
  margin: 10px;
  font-family: var(--font-family);
  color: var(--text-color);
}

.formHelperText {
  text-align: 'right';
  font-family: var(--font-family);
  color: var(--text-color);
}

.text {
  font-family: var(--font-family);
  color: var(--text-color);
}
