.countryBox {
  align-items: center;
  gap: var(--spacing-4);
  width: 240px;
  min-height: 240px;
  text-align: center;
  box-shadow: 0 2px 3px var(--border-color);
  margin: var(--spacing-2);
  padding: var(--spacing-2);
  box-sizing: border-box;
  cursor: pointer;
  transform: scale(1);
  transition: transform 1s ease-out;
}

.countryBox:hover {
  background-color: var(--background-color-dark);
  transform: scale(1.2);
  transition: transform 0.4s;
  z-index: 1;
}

.countryBox img {
  width: 60%;
  padding-bottom: 1rem;
}
