.root {
  background-color: var(--background-color-light);
  padding: var(--spacing-4);
  border-radius: var(--border-radius);
  border: var(--border);
  display: flex;
  gap: var(--spacing-4);

  box-shadow: var(--box-shadow);
  background: linear-gradient(135deg, rgba(103, 99, 119, 1) 0%, rgba(67, 64, 74, 1) 100%);
}

.metricItem {
  display: flex;
  padding: 8px 16px;
}

.title {
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 500;
  color: white;
}

.icon {
  font-size: 60px !important;
  color: var(--primary-color-50);
}

.label {
  font-size: 14px;
  color: var(--primary-color-200);
}

.value {
  font-size: 32px;
  color: var(--primary-color-50);
  line-height: 1.2;
}

.divider {
  display: inline-block;
  width: 1px;
  height: 72px;
  background-color: var(--primary-color-800);
  align-self: center;
}
