.container {
  width: 100%;
  max-width: 1800px;
  height: 50vh;
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: var(--border-radius);
  border: var(--border);
}

.textEditor {
  overflow-y: scroll;
  height: 90%;
  margin: var(--spacing-4);
}

::-webkit-scrollbar {
  width: var(--spacing-2);
}

::-webkit-scrollbar-thumb {
  background-color: #024385;
  border-radius: 20px;
}
