.container {
  width: 100%;
  max-width: 1800px;
  min-height: calc(100% - 75px);
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: var(--border-radius);
  border: var(--border);
}

.textEditor {
  overflow-y: scroll;
  height: calc(100% - 75px);
  padding: var(--spacing-2);
  margin: var(--spacing-2);
}

::-webkit-scrollbar {
  width: var(--spacing-2);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 20px;
}
