.root {
  width: 100%;
  flex: 1;
}

.details {
  background-color: var(--background-color-light);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.details img {
  width: 100%;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
