.detailsPanel {
  background-color: var(--background-color-light);
  box-shadow: var(--box-shadow);
  border-radius: var(--spacing-2);
}

.detailsPanel img {
  width: 97%;
  border-radius: var(--spacing-2);
  margin: var(--spacing-2);
}
