.map {
  background-color: var(--background-color-light);
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  padding: 1%;
  width: 65%;
}

.details {
  width: 35%;
}

.bordersContainer {
  padding: 20px;
}

.bordersContainer img {
  width: 100%;
  max-height: 100px;
  border-radius: 4px;
}

.neighboringCountries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.neighboringCountry {
  width: 9%;
  margin: 1rem;
}
