.navigationItem {
  display: flex;
  height: 100%;
  align-items: center;
}

.navigationItem a {
  text-decoration: none;
  box-sizing: border-box;
  color: white;
  height: 100%;
  padding: 15px 20px;
  margin-bottom: 6px;
}

.navigationItem a.active {
  border-bottom: 3px solid var(--primary-color);
}

.navigationItem a:hover {
  border-bottom: 3px solid white;
}
