.container {
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  background-color: var(--background-color-light);
  padding: var(--spacing-5);
  background: linear-gradient(135deg, rgba(103, 99, 119, 1) 0%, rgba(67, 64, 74, 1) 100%);
  color: white;
}

.row {
  flex-direction: row;
  justify-content: space-between;
  gap: var(--spacing-2);
  background-color: transparent;
  font-weight: 500;
}
