.countryBox {
  width: 240px;
  min-height: 240px;
  padding: 0 10px;
  text-align: center;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.3em;
  transform: scale(1);
  transition: transform 1s ease-out;
}

.countryBox:hover {
  background-color: var(--background-color-dark);
  transform: scale(1.2);
  transition: transform 0.4s;
  z-index: 1;
}

.countryBox img {
  width: 60%;
  padding-bottom: 1rem;
}
