.countryBox {
  width: 220px;
  padding: 0 10px;
  text-align: center;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  margin: 10px;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.3em;
}

.countryBox:hover {
  background-color: #c0ddf5;
}

.countryBox p {
  padding: 1%;
}

.countryBox img {
  width: 60%;
  padding-bottom: 5%;
}
