.root {
  width: 100%;
  background-color: var(--background-color-dark) !important;
  border-radius: var(--border-radius);
  color: var(--text-color) !important;
}

.paper {
  background-color: var(--background-color-dark) !important;
  color: var(--text-color) !important;
}
