.visitedSpotsContainer {
  background-color: var(--background-color-light);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  padding: var(--spacing-3);
  margin-bottom: var(--spacing-4);
}

.visitedSpots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: var(--spacing-4);
  gap: var(--spacing-4);
}

.item {
  min-width: 220px;
}

.tab {
  width: 25%;
  font-size: 16px;
}
