.root {
  background-color: var(--background-color-light);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  padding: var(--spacing-3);
  margin-bottom: var(--spacing-7);
}

.tab {
  width: 25%;
  font-size: 16px;
}
