.sidebar {
  background-color: var(--background-color-dark);
  width: 350px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 1s ease-in-out;
  padding: 0 var(--spacing-6);
  gap: var(--spacing-6);
  border: var(--border);
}

.visible {
  left: 0;
}

.toggleButton {
  position: absolute;
  align-items: center;
  left: 0;
  bottom: 1vh;
  transition: transform 1s;
}

.toggleButton svg,
.sidebar svg {
  fill: var(--icon-color);
}

.toggleButton:hover {
  transform: rotate(360deg) scale(1.2);
  transition: transform 0.5s;
}
