.sidebar {
  background-color: var(--background-color-dark);
  width: 350px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 1s ease-in-out;
  padding: 0 var(--spacing-6);
  gap: var(--spacing-6);
  border-left: var(--border);
  z-index: 2;
}

.visible {
  right: 0;
}

.toggleButton {
  position: absolute;
  right: var(--spacing-1);
  bottom: var(--spacing-1);
  transition: transform 1s;
}

.toggleButton:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}
