.textField {
  background-color: var(--background-color-light);
  width: 100%;
  position: relative;

  & input {
    width: calc(100% - 150px);
  }

  & fieldset {
    border-radius: var(--border-radius);
  }
}

.buttons {
  position: absolute;
  top: 4px;
  right: 4px;
  opacity: 0;
  transition: opacity 0.25s;
}

.hovered {
  opacity: 1;
  transition: opacity 0.5s;
}
